<div class = "container">
  <div class="row">
    <div class="col-sm-6 customOverride">
      <br>
      <iframe width="625" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=275+Bradley+St,+Temiskaming+Shores,+ON,+Canada&amp;aq=0&amp;oq=275+Bradl&amp;sll=40.697488,-73.979681&amp;sspn=0.958918,2.113495&amp;ie=UTF8&amp;hq=&amp;hnear=275+Bradley+St,+Temiskaming+Shores,+Timiskaming+District,+Ontario+P0J+1K0,+Canada&amp;t=m&amp;z=14&amp;ll=47.443418,-79.629761&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=275+Bradley+St,+Temiskaming+Shores,+ON,+Canada&amp;aq=0&amp;oq=275+Bradl&amp;sll=40.697488,-73.979681&amp;sspn=0.958918,2.113495&amp;ie=UTF8&amp;hq=&amp;hnear=275+Bradley+St,+Temiskaming+Shores,+Timiskaming+District,+Ontario+P0J+1K0,+Canada&amp;t=m&amp;z=14&amp;ll=47.443418,-79.629761" style="color:#0000FF;text-align:left">View Larger Map</a></small>		  
    </div>
    <div class="col-sm-6 customOverride social img">
      <br>
      <b>Dental Hygiene on the Move</b>
      <address>
      275 Bradley Street<br>
      Haileybury, ON<br>
      P0J 1K0<br>
      <br>
      <abbr title="Phone">P:</abbr> 705 648 3740<br>
      <abbr email="Email">E:</abbr> kari.flaxey@gmail.com<br>
      </address>
    </div>
  </div>
</div>

